  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  .header h1 {
    font-size: 2rem;
  }
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 20px;
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Adjust this value to position the menu below the "Services" link */
    left: -38px;
    background-color: #333;
    list-style: none;
    padding: 0;
  }
  
  
  .dropdown-menu.active {
    display: block;
  }
  
  .nav-links li.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; 
  }
  
  .dropdown-menu li {
    margin-bottom: 20px;
  }
  
  /* Style as needed */
