/* Assuming the styles for the rest of your page are in Services.css */

.services {
  text-align: center;
  padding: 50px 0;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0; /* Remove the gap between items */
}

.service-item {
  position: relative;
  overflow: hidden;
}

.service-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  transition: filter 0.3s;
}

.service-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color */
  text-align: center;
  opacity: 0; /* Initial state is hidden */
  transition: opacity 0.3s, color 0.3s; /* Added color transition */
}

/* Remove the button styling */
.service-button {
  display: none;
}

/* Added hover effect for darkening the image and showing text */
.service-item:hover .service-img-background {
  filter: brightness(80%);
}

.service-item:hover .service-text-wrapper {
  opacity: 1;
  color: lightseagreen; /* Brighter color on hover */
}

/* Initial state for text wrapper */
.service-text-wrapper {
  transition: opacity 0.3s, color 0.3s; /* Added color transition */
}

/* Style for service titles */
.service-text-wrapper h3 {
  margin: 0;
  font-size: 1.5rem;
}

/* Style for service descriptions */
.service-text-wrapper p {
  margin: 10px 0 0;
  font-size: 1rem;
}
